APP_ENV=development
APP_PORT=8080

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=iot_rd_master
DB_USER=root
DB_PASSWORD=

JWT_SECRET=your-secret-jwt-key
JWT_EXPIRES_HOURS=72

UPLOAD_PATH=./uploads
